.form-group {
  display: inline-block;
  margin-top: 50px;
}

#header {
font-size: 50px;
background-color:lightgrey;

border-width: 2px;
border: solid;
border-color: black;
box-shadow: 10px 10px;
}

.table{
align-self: center;
text-align: center;

}

.container{
width: 80%;
margin-top: 3%;
}

.cell{
border: solid;
border-width: 1px;
}


#linkheader {
  background-color: purples;
  font-weight: bold;
}


.sampleheader{
  background:skyblue;
  background-color: skyblue;
}

.border {border-style: solid;border-width: 2px;}

.metacell{
  border: solid;
  border-width: 1px;
  text-align: left;
  }

  .metacellh{
    border: solid;
    border-width: 1px;
    border-radius: 25px;
    }